/* body{
    background-image: url('../images/texnikum1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
} */
.dropbtn {
    height: 80px;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: lightblue;
    opacity: none;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: blue; color: white;}
  
  .dropdown:hover .dropdown-content {display: block;}
  
  .dropdown:hover .dropbtn {color: lightblue;}

  .main {
    position: relative;
}

.main::before {
    content: "";
    background-color: rgba(0, 0, 255, 0.8); /* 50% opacity red background */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; /* Place the pseudo-element below the content */
}
.section{
  min-height: 100vh;
}